name: Docker Publish

on:
  push:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and Push the Docker image
        run: |
          docker login --username flash2over --password ${{ secrets.DOCKER_PASSWORD }} ghcr.io
          docker build . -t ghcr.io/flash2over/raid-craft:latest
          docker push ghcr.io/flash2over/raid-craft:latest